jg-showcase-card
  width: 100%
  height: 100%
  display:block
  position: absolute
  .splash
    height: 100%
    position: absolute
    left: 0
    top: 0
    width: 100%
jg-showcase-card.active
  -webkit-transition: top 0.5s; /* Safari */
  transition: top 0.5s;
jg-showcase-card.awaiting
  top: 100%
  -webkit-transition: top 0.5s; /* Safari */
  transition: top 0.5s;
jg-showcase-card.pushed
  top: -170%