.layout([ngStyle]="{'line-height': iconSize}")
  div.flex.layout.layout-align-start-center
    md-icon([ngStyle]="{'font-size': iconSize}") home
  div.flex.layout.layout-align-end-center
    md-icon([ngStyle]="{'font-size': iconSize}") menu