.splash1
  background-image: url("//67.media.tumblr.com/baac42a10baac79b64fbb6744d8c2daf/tumblr_o8vbi5lTZA1qe0520o1_1280.png")
  img
    position: absolute;
    top: 10%
    left: 15%
    -webkit-transform: rotate(180deg)
    transform: rotate(180deg)
    -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
.splash2
  background-color: black
